<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="public/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/gambar.png">
  <link rel="shortcut" href="gambar.png">
  <title>
    HADIR_HMM - API
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="public/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="public/assets/css/black-dashboard.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="public/assets/demo/demo.css" rel="stylesheet" />
  <link href="public/assets/css/simple.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: Anda dapat mengubah warna bilah sisi menggunakan: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo text-center">
          <a href="/api" class="simple-text logo-normal" style="font-size: large;">
                     HADIR_HMM - API
                    </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/api/islami">
              <i class="tim-icons icon-bulb-63"></i>
              <p>Islami</p>
            </a>
          </li>
          <li>
            <a href="/api/downloader">
              <i class="tim-icons icon-cloud-download-93"></i>
              <p>Downloader</p>
            </a>
          </li>
          <li>
            <a href="/api/searching">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Searching</p>
            </a>
          </li>
          <li>
              <a href="/api/games">
              <i class="tim-icons icon-controller"></i>
              <p>Games</p>
            </a>
          </li>
          <li>
            <a href="/api/entertainment">
              <i class="tim-icons icon-satisfied"></i>
              <p>Entertainment</p>
            </a>
          </li>
          <li>
            <a href="/api/randomimage">
              <i class="tim-icons icon-image-02"></i>
              <p>Random Image</p>
            </a>
          </li>
          <li>
            <a href="/api/randomtext">
              <i class="tim-icons icon-align-center"></i>
              <p>Random Text</p>
            </a>
          </li>
          <li>
            <a href="/api/moviestory">
              <i class="tim-icons icon-video-66"></i>
              <p>Movie & Story</p>
            </a>
          </li>
          <li>
            <a href="/api/canvas">
              <i class="tim-icons icon-palette"></i>
              <p>Canvas</p>
            </a>
          </li>
          <li>
            <a href="/api/stalking">
              <i class="tim-icons icon-book-bookmark"></i>
              <p>Stalking</p>
            </a>
          </li>
          <li>
            <a href="/api/animanga">
              <i class="tim-icons icon-planet"></i>
              <p>Animanga</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
   <br>
                  <p class="nav-link"><a href="https://www.youtube.com/channel/UCoi2y5aCEwdrv3Woimf6--g" class="nav-item dropdown-item">YouTube</a></p>

              <br>
              
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">APIKEY</div>
                                <a href="https://wa.me/6281999637234?text=apikey" target="_blank" style="color: #d3d5f3; text-decoration: none;">[TEKAN DISINI]</a>
                                        </div>
  <!--   Core JS Files   -->
  <script src="public/assets/js/core/jquery.min.js"></script>
  <script src="public/assets/js/core/popper.min.js"></script>
  <script src="public/assets/js/core/bootstrap.min.js"></script>
  <script src="public/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <!-- Chart JS -->
  <script src="public/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="public/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="public/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->

  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>